.my-tab{
    border-left: 10px solid rgba(0, 0, 255, 0.6);
    border-bottom: 5px solid rgba(0, 0, 255, 0.6) ;
    border: opacity 0.6;
    
}
.inner-tab{
    font-size: 20px;
    color:black;
    text-decoration: none  !important;
}
.inner-tab:hover{
    color:blue;
    opacity: .6;
    font-weight: bold;
    
}