/* .navbar{
    background: black;
    opacity: 0.8;
    color: white;
    display: flex;
    text-decoration: none;
} */
.my-navbar-brand{
    /* text-decoration: none;
    margin-left:30px;
    font-weight: lighter;
    font-style: italic;
    color: white;
    transition-duration: 0.45s;
    font-size: 24px;
    padding-top:1.2rem;
    padding-bottom:1.2rem;
    padding-left: none; */

    
}
.my-navbar-brand:hover{
    border-left: 2px solid rgba(0, 0, 255, 0.6);
    border-right: 2px solid rgba(0, 0, 255, 0.6);
}

.navbar-brand-image{
    height: 30px;
    width: 30px; 
    padding: 1.2rem;
    padding-right: 0rem;
}
.my-custom{
    background-color: black;
    color:blue;
}